### Fizzbuzz Logic till 1000 numbers

In [72]:
for i in range(1,101):
    if i%3==0 and i%5==0:
        print("fizzbuzz")
    elif i%3==0:
        print("fizz")
    elif i%5==0:
        print("buzz")
    else:
        print (i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

#### Print total monthly expenses

In [44]:
Expense= [200,230,333,444,532]
total=0
for i in Expense: #This loop directly iterates through each element in the Expense object.i represents the value of each element in the Expense iterable.For example, if Expense = [100, 200, 300], then i will take the values 100, 200, and 300 in each iteration.
    total=total+i
print(total)

1739

#### Print monthly expenses of each month

In [60]:
Expense= [200,230,333,444,532]
total=0
for i in range(len(Expense)):                        #This loop iterates over the indices (positions) of the Expense iterable, rather than directly over the values.i will be an integer that represents the index of each element in Expense.For example, if Expense = [100, 200, 300], i will take the values 0, 1, and 2, which are the indices of the list.
    print("Month",(i+1),"Expense is:",Expense[i])              # Expense[0] is 200...
    total =total+Expense[i]
print("Total expense is:",total)

Month 1 Expense is: 200
Month 2 Expense is: 230
Month 3 Expense is: 333
Month 4 Expense is: 444
Month 5 Expense is: 532
Total expense is: 1739

#### Find my key from my home

In [94]:
key_location="backyard"
home=["hall","kitchen","bedroom","backyard","upstairs"]

for i in home:
    if (i==key_location):
        print("Key is found in",i)
        break
    else:
        print("Key is not found in",i)

Key is not found in hall
Key is not found in kitchen
Key is not found in bedroom
Key is found in backyard

#### Print square of numbers between 1 to 5 expect even numbers

In [100]:
for i in range(1,6):
    if i%2==0:       #i = 1, i % 2 == 0 is False because 1 is odd.The continue is skipped.The print statement print(i * i) is executed, so 1 * 1 (which is 1) is printed.
        continue      #i = 2,i % 2 == 0 is True because 2 is even.The continue is executed, which skips the remaining code in the loop for this iteration.The print statement is not executed.
    print(i*i)

1
9
25

#### TRy while loop to print 5 numbers

In [5]:
i=1
while i<=6:
    i=i+1
    print(i)

2
3
4
5
6
7

#### Even Numbers Between 1 and 20

In [8]:
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

#### Print sum of given number

In [6]:
n=67
sum=0
for i in range(1,n+1):
    sum=sum+i
print(sum)

2278

#### Print a multiplication table of a given number

In [12]:
n=7

for i in range(1,11):
    print(i,"* 7 =",i*7)

1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
10 * 7 = 70

#### Display numbers from a list using a for loop.

In [18]:
li=[8,4,5,6,8,5,9,7]

for i in li:
    print(i)

8
4
5
6
8
5
9
7

#### count the total number of digits in a number

In [31]:
n=56789
n=str(n)   #len(n) doesn't work for integers, so you need to convert n into a string to get the number of digits,
sum=0
for i in n:
    sum=sum+1 # for each character in the string we are adding sum. so we will get total no of string
print(sum)

5

#### program that accepts a string and calculates the number of digits and letters

In [36]:
strn=("GRF67GH89JY05")
nums=0
strs=0
for i in strn:
    if i.isdigit():
        nums=nums+1
    elif i.isalpha():
        strs=strs+1
print("Number of digits is",nums)
print("Number of strings is",strs)

Number of digits is 6
Number of strings is 7

#### program that iterates the integers from 1 to 25

In [42]:
for i in range(1,26):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

#### program to check if the given string is a palindrome

In [5]:
n=input("Enter a string")
length=len(n)
for i in range(length//2):
    if n[i]!=n[length-1-i]:
        print("n is not palindrome")
        break
else:
    print("n is palindrome")

Enter a string banana

n is not palindrome

#### program that accepts a word from the user and reverses it

In [15]:
w=input("Enter the word")
reverse=""             #Initializes an empty string to store the reversed word.
for i in range(len(w)-1,-1,-1):    #Loops through the indices of the word in reverse order.len(w) - 1: Starts from the last index.-1 ends in first index and The loop goes backwards, ending at index 0.
    reverse+=w[i]        #w[i] refers letters in each index of w. 
print(reverse)

Enter the word anisha

ahsina

#### Python program to check if a given number is an Armstrong number

In [24]:
n=input("Enter a number")  # its a string now
length=len(n)      # bz u can get length of a string only, not an integer
sum=0
for i in range (len(n)):
    
    sum+=int(n[i])**length  # logic is Convert each digit to an integer and raise it to the power of length

if sum == int(n):
    print("It's an armstrong number")
else:
    print("It's not an armstrong number")

Enter a number 153

It's an armstrong number

#### program to count the number of even and odd numbers from a series of numbers

In [48]:
ls=[78,9,76,99,45,87,66,43]
even=0
odd=0
for i in ls:
    if i%2 ==0:
        even+=1
    else:
        odd+=1
print("Number of odd numbers are", odd)
print("Number of even numbers are", even)

Number of odd numbers are 5
Number of even numbers are 3

#### program to get the Fibonacci series between 0 to 50

In [10]:
num=50
first_num=0
second_num=1

for i in range(num):
    print(first_num)
    first_num, second_num = second_num,first_num+second_num   #Update Fibonacci numbers
    
    if first_num>50:       # Print numbers from 1 to 50
        break

0
1
1
2
3
5
8
13
21
34

#### program to find the factorial of a given number

In [15]:
n=10
factorial=1

for i in range(1,n+1):
   
    factorial =factorial*i

print("Factorial of", n,  "is", factorial)

Factorial of 10 is 3628800

In [17]:
import os
os.getcwd()

'C:\\Users\\arulr\\DA course\\Python'